@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

body {
  font-family: "Roboto Condensed", sans-serif;
}

:root {
  --primary-white: #ffffff;
  --primary-orange: #f9ab00;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
  --primary-dark: rgba(255, 255, 255, 0);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*********************************navbar******************************/
/**z index will make nav bar higher**/
nav {
  z-index: 2;
}

.navbar-logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  height: 80px;
}
nav a.nav-link {
  letter-spacing: 0.8px;
  cursor: pointer;
}

nav div ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
}

.navbar-nav > li > a.active,
.navbar-nav > li > a:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

/*********************************header******************************/

.header-wrapper {
  position: relative;
  background: #f12711; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f5af19,
    #f12711
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-position: center;
  height: 95vh;
}

.main-info {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.main-info h1 {
  color: var(--primary-white);
  text-transform: uppercase;
}

@meida (max-width:768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
}

.typed-text {
  font-size: 2rem;
  color: var(--primary-white);
  text-transform: uppercase;
}

@meida (max-width:768px) {
  .main-info h1 {
    font-size: 1.5rem !important;
  }
  .typed-text {
    font-size: 1.3rem !important;
  }
}

.btn-main-offer {
  border: 1px solid var(--primary-red);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: var(--primary-white);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: var(--primary-hover-red);
  color: var(--primary-white);
  transition: 0.2s ease-in-out;
}

/*********************************Particles******************************/
.tsparticles-canvas-el {
  position: absolute;
  height: 90vh;
  width: 100vw;
  z-index: 1;
}

@media (max-width: 768px) {
  .particles-canvas {
    display: none;
  }
}

/*********************************About Me******************************/
.photo-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile-photo {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

.About-Me-Heading {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.GitHubLogo {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

.LinkedinLogo {
  width: 2em;
  height: 2em;
  cursor: pointer;
}

@media (max-width: 468px) {
  .profile-photo {
    width: 10rem;
  }
}
/*********************************My Stack******************************/
.My-Stack .row {
  display: flex;
  justify-content: center;
}

.My-Stack .box {
  height: 18rem;
  padding: 0.625rem;
  margin-bottom: 2rem;
  background: var(--primary-white);
  transition: 0.3s ease-in-out;
}

.My-Stack .circle-up {
  animation: MoveUpDown 3s linear infinite;
}

@keyframes MoveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.5625rem);
  }
}

.My-Stack .circle-down {
  animation: MoveDownUp 3s linear infinite;
}
@keyframes MoveDownUp {
  0%,
  100% {
    transform: translateY(-1.5625rem);
  }
  50% {
    transform: translateY(0);
  }
}

.My-Stack-Heading {
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-orange);
  margin-bottom: 5%;
}

.reactLogo {
  width: 100px;
  height: 100px;
}

.JSLogo {
  width: 100px;
  height: 100px;
}

.CSSLogo {
  width: 100px;
  height: 100px;
}

.HTMLLogo {
  width: 100px;
  height: 100px;
}

.MySQLLogo {
  width: 150px;
  height: 100px;
}

/*********************************Experience******************************/
.experience-wrapper {
  position: relative;
  padding: 3.125rem 0;
  overflow: hidden;
}

.experience h1 {
  text-transform: uppercase;
  color: var(--primary-orange);
}

.experience-wrapper::before {
  position: absolute;
  content: "";
  top: 0;
  left: 50%;
  margin-left: -0.0625rem;
  width: 0.125rem;
  height: 100%;
  background: var(--primary-grey);
  z-index: 1;
}

.timeline-block {
  width: calc(50% + 0.5rem);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  border: 0.3125rem solid var(--primary-dark);
  background: var(--primary-orange);
  margin-top: 0.625rem;
  z-index: 3;
}

.timeline-content {
  width: 95%;
  padding: 0 0.9375rem;
  color: var(--primary-dark-grey);
}

.timeline-content > h3 {
  margin-top: 0.3125rem;
  color: var(--primary-red);
  font-weight: 900;
}

@media (max-width: 768px) {
  .experience .container {
    padding-left: 0;
  }

  .experience-wrapper::before {
    left: 0.5rem;
    margin-bottom: 1.875rem;
  }

  .timeline-block-right {
    float: none;
    width: 100%;
  }
  .timeline-block-left {
    width: 100%;
    float: none;
    direction: ltr;
  }
}

/*********************************portfolio******************************/
.portfolio-wrapper {
  background: var(--primary-white);
  padding: 3rem 0;
}

.card-img-to {
  width: 100%;
  cursor: pointer;
}
